*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: black; */
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;

}

.header a {
 margin-right: 20px;
 color: rgba(0,0,0,0.87);
 font-size: 15px;
 text-decoration: inherit;

}

.header a:hover{
    text-decoration: underline;

}

.header__right{
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: center;

}

.header__right .header__apps{
margin-right: 10px;
}

.mainBody{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainBody img{
object-fit: contain;
height: 100px;
/* margin-left: 520px; */
margin-top: 100px;
}

.search__input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.search__input input{
    flex: 1;
    padding: 10px 20px;
    /* margin-right: 300px; */
    border: none;
    outline: none;
}

.search__input .material__icons{
    color: gray;
}

.search__buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search__buttons button{
    margin: 5px;
    padding: 10px 15px;
    background-color: #d9d5d5;
    outline: none;
    border: none;
    cursor: pointer;
}